<!doctype html>
<html ng-app="myCalculator">
	<head>
        <link rel="stylesheet" href="css/style.css">
    </head>
	<body ng-controller="myCalculateCtrl">
		<div class="container">
			<div class="page-header">
				<h1>Calculangular</h1>
			</div>
			<!--<div ng-view></div>-->
            <div align="center">
                <div class="inputDiv center">
                    <input class="inputBox" ng-model="operand1" type="text">
                    <input class="inputBox" ng-model="operand2" type="text">
                </div>
                <div class="calculatorButtons center">
                    <button ng-click="add()" class="getCalculating">+</button>
                    <button ng-click="subtract()" class="getCalculating">-</button>
                    <button ng-click="multiply()" class="getCalculating">x</button>
                    <button ng-click="divide()" class="getCalculating">/</button>
                </div>
                <div>
                    <p>The result of {{math}} {{op1}} {{word}} {{op2}} is {{result}}.</p>
                </div>
            </div>
		</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.js"></script>
        <script src="controller.js"></script>

	</body>
</html>